<?xml version="1.0" encoding="UTF-8"?>
<web-app id="services" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <!-- Adding the Spring Context Listener. It will help to init Spring Context -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:applicationContext.xml
            /WEB-INF/security-base.xml         
            /WEB-INF/security-acl.xml
        </param-value>
    </context-param>      
    
    <!-- CXF Servlet -->
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    </servlet>
    
    <!-- Mapping with a URL Pattern -->
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
    <!-- Spring Security -->
    <filter>
        <description>
            An istance of FilterChainProxy will intercept all incoming requests
            and delegate the request's control to the appropriate Spring handler.
            The name of this filter must be exactly springSecurityFilterChain
            for wire Spring Security to the DelegatingFilterProxy.
        </description>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>   

</web-app>
